 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
// body {
//   background: #fafafa;
//   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
//   color: #333;
// }

// .hero-unit {
//   margin: 50px auto 0 auto;
//   width: 600px;
//   font-size: 18px;
//   font-weight: 200;
//   line-height: 30px;
//   background-color: #eee;
//   border-radius: 6px;
//   padding: 60px;
//   h1 {
//     font-size: 60px;
//     line-height: 1;
//     letter-spacing: -1px;
//   }
// }

// header {
//   background-image:url('../images/Anonymous-Awesome-Face-l.jpg');
//   color: white;
//   height: 65px;
// }

#clickAlert {
  height: 50px;
  width: 50px;
  border: 2px solid grey;
  text-align: center;
  margin-top: 15%;
}

#checkMetaKey {
  float: left;
}

#somethingHere {
  height: 80px;
  width: 100px;
  border-radius: 25px;
  background-color: red;
  color: white;
  padding-top: 10px;
  text-align: center;
}

#fader {
  float:right;
}

#sel {
  color: red;
}

#ball {
  height:60px;
  width:60px;
  border-radius:50px;
  background-color: purple;
}

.selected {
  background-color: green;
  display: inline;
}